<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="edit_resources.css">
</head>

<body>
    <div class="hidden">
        <p><a>Название статьи</a>
            <hr>
            <form name="search" method="post">
                <p><a>Добавить теги</a></p>
                <p>
                    <input id="tag" type="text" name="tag" placeholder="Тег">
                    <button onclick="search_tag" type="button" id="search_tag">Поиск</button>
                </p>

                <div class="search_tags">

                </div>
            </form>
            <hr>
            <div class="your_tags">
                <p><a>Выбранные теги</a></p>
            </div>
            <button onclick="back" type="button" id="back">Назад</button>
            <button onclick="save" type="button" id="save">Сохранить</button>
    </div>
</body>
<script>
    document.getElementById("search_tag").addEventListener('click', search_tag);

    async function search_tag() {
        let input = document.search.tag.value
        let data = {
            "label": String(input)
        }
        let response = await fetch('http://127.0.0.1:3000/tags/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(data)
        })
        let content = await response.json()
        let key
        let list = document.querySelector('.search_tags')
        let all_list = ''
        for (key in content) {
            all_list += `
                <a class = "tags" id = "${content[key].id}" style="background-color:${content[key].color}"> #${content[key].label} </a>
            `
        }
        list.innerHTML = all_list
        all_list = ''
    }
</script>

</html>