<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="all.css">
</head>

<body>
    <div class="tabl1">
        <form method="get">
            <p><input type="search" name="title" placeholder="Поиск статей">
                <button onclick="search_resources" type="button" id="btn">Найти</button></p>
            <hr>
            <div class="all_resources">
                <p><a class="resources" id="1" href="https://habr.com/ru/post/317728/#ssylki">Кнопка или ссылка?</a></p>
            </div>
        </form>
    </div>
</body>
<script>
    document.getElementById(" btn ").addEventListener('click', search_resources);

    async function search_resources() {
        let response = await fetch('http://127.0.0.1:3000/resources/search_by_title')
        let content = await response.json()
        let key
        let list = document.querySelector('resources')
        let all_list = ''
        for (key in content) {
            all_list += `
                <p><a class = "resources" id = "${content[key].id}" href="${content[key].link}">${content[key].title}</a></p>
            `
        }
        list.innerHTML = all_list
        all_list = ''
    }
</script>

</html>