<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="search.css">
</head>

<body>
    <div class="tabl1">
        <form action="/src/server.py" method="get">
            <p><input type="search" name="q" placeholder="Поиск по тегам">
                <input type="submit" value="Найти"></p>
            <p><input type="submit" value="все теги"></p>
            <hr>
            <div class="conteiner">
                <div class="tags">
                    <a>#Россия</a>
                </div>
                <div class="tags">
                    <a>#Армения</a>
                </div>
                <div class="tags">
                    <a>#Польша</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>