<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="all.css">
</head>

<body>
    <div class="tabl1">
        <form method="get">
            <!-- <p><input type="search" name="q" placeholder="Поиск по тегам">
                <input type="submit" value="Найти"></p> -->
            <!-- <p><input type="submit" value="все теги" id="btn"></p> -->
            <p><button type="button" id="btn">Все теги</button></p>
            <hr>
            <div class="all_tags">
            </div>
        </form>
    </div>
</body>

<script>
    function scanTag(tags) {
        for (var i = 0; i < tags.length; i++) {
            addTag(tags[i]);
        }
    }

    function addTag(tag) {
        // let tags = document.querySelector('all_tags')
        var newTag = document.createElement("a");
        newTag.setAttribute('class', "tags");
        newTag.innerHTML = tag.label;
        newTag.className = tag.id;
        return newTag
    }

    document.getElementById("btn").addEventListener('click', add);

    function add() {
        const api_url = "http://127.0.0.1:3000/tags/all";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                text = scanTag(this.responseText);
                document.getElementsByClassName('all_tags').text;
            }
        };
        xhttp.open("GET", api_url, true);
        xhttp.send();
    }



    // ajax('server.py', 'GET', scanTag, )
</script>

</html>